{# src/AppBundle/Resources/views/Backend/gallerylist.html.twig #}

{% extends "AppBundle::base_backend.html.twig" %}

{% block body %}
<section class="main-content" id="galleries">
        <section class="wrapper">
            
            {#<?php include_once __DIR__.'/../include/breadcrumb.php'; ?>#}
            
            <div class="row block title main-title">
                <div class="col-md-12">
                    <section class="panel title">
                        <div class="panel-body">
                            Gérer les galeries
                            <div class="pull-right">
                                <a href="{{ path('backend_gallery_new')  }}" class="btn btn-default btn-title">Ajouter</a>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="row block">
                <div class="col-md-12">
                    <section class="panel">
                        <div class="panel-body notification-success">
                                <div class="flash-notice" style="float:left;">
                                    {{ flashMessage }}
                                </div>
                            <span class="tools pull-right">
                                <a href="#" class="fa fa-times" onClick="hideBlock(this)"></a>
                            </span>
                        </div>
                    </section>
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="col-md-12">
                    <section class="panel">
                        <div class="panel-body table-responsive">
                            <table id="menuItems" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nom</th>
                                        <th>Chemin</th>
                                        <th>Dossier</th>
                                        <th>Accueil</th>
                                        <th style="min-width:50px"><i class="fa fa-cog fa-2x"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for gallery in galleries %}
                                        <tr id="gallery_{{ gallery.id }}">
                                            <td>{{ gallery.id }}</td>
                                            <td>{{ gallery.name }}</td>
                                            <td>{{ gallery.route }}</td>
                                            <td>{{ gallery.folder }}</td>
                                            <td>{% if gallery.isHomeGallery %} <i class="fa fa-check color-green"></i>{% endif %}</td>
                                            <td><a style='margin-right:10px;' href="{{ path('backend_gallery_update', { 'id': gallery.id })  }}"><i class='fa fa-pencil-square-o color-blue'></i></a> 
                                            <a onclick="return confirm('Cette action est irréversible, êtes-vous sûr de vouloir supprimer cet élément de menu ?');" href="javascript:deleteGallery({{gallery.id}})"><i class="fa fa-times color-red"></i></a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </section>
</section>
{% endblock %}
{% block javascripts %}
<script>
function deleteGallery (id) {
    $.post("{{ path ('backend_gallery_deleteAjax') }}", { id : id }, function (data) {
        if (data.isSuccess == 1) {
            $("#gallery_" + id).fadeOut(300, function() {
                $(this).remove; 
            });
        } else {
            $('<div class="row block"><div class="col-md-12"><section class="panel"><div class="panel-body notification-error"><div class="flash-notice" style="float:left;">' + data.notice + '</div><span class="tools pull-right"><a href="#" class="fa fa-times" onClick="hideBlock(this)"></a></span></div></section></div></div>').insertAfter(".main-title");
        }
    });
}
</script>
{% endblock %}